tox
pyusb
-e git://github.com/amaranth-lang/amaranth.git@main#egg=amaranth
-e git://github.com/amaranth-lang/amaranth-soc.git@main#egg=amaranth-soc
-e git://github.com/amaranth-lang/amaranth-boards.git@main#egg=amaranth_boards
-e git://github.com/minerva-cpu/minerva.git#egg=minerva
-e git://github.com/shrine-maiden-heavy-industries/lambdasoc.git#egg=lambdasoc
-e git://github.com/usb-tools/python-usb-protocol.git#egg=usb_protocol
-e git://github.com/greatscottgadgets/apollo.git#egg=apollo-fpga
pyvcd
pyserial~=3.4
libusb1
